In [2]:
AIRA_OPENAI_KEY = "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"

In [21]:
import os
import json
os.environ["OPENAI_API_KEY"] = AIRA_OPENAI_KEY

In [51]:
from openai import OpenAI

client = OpenAI()

response = client.responses.create(
  model="gpt-4o",
  input="Return the Alpha-2 code of Dubai country"
)

print(response)

Response(id='resp_0d1bcaceeb59dd370069876175829881968814e675813dae48', created_at=1770479989.0, error=None, incomplete_details=None, instructions=None, metadata={}, model='gpt-4o-2024-08-06', object='response', output=[ResponseOutputMessage(id='msg_0d1bcaceeb59dd370069876175eddc81969646c99090dadfa1', content=[ResponseOutputText(annotations=[], text='Dubai is a city in the United Arab Emirates. The Alpha-2 code for the United Arab Emirates is **AE**.', type='output_text', logprobs=[])], role='assistant', status='completed', type='message')], parallel_tool_calls=True, temperature=1.0, tool_choice='auto', tools=[], top_p=1.0, max_output_tokens=None, previous_response_id=None, reasoning=Reasoning(effort=None, generate_summary=None, summary=None), service_tier='default', status='completed', text=ResponseTextConfig(format=ResponseFormatText(type='text'), verbosity='medium'), truncation='disabled', usage=ResponseUsage(input_tokens=16, input_tokens_details=InputTokensDetails(cached_tokens=0), output_tokens=26, output_tokens_details=OutputTokensDetails(reasoning_tokens=0), total_tokens=42), user=None, background=False, billing={'payer': 'developer'}, completed_at=1770479990, frequency_penalty=0.0, max_tool_calls=None, presence_penalty=0.0, prompt_cache_key=None, prompt_cache_retention=None, safety_identifier=None, store=True, top_logprobs=0)

In [40]:
final_response = json.loads(response.model_dump_json())

In [41]:
print(final_response)

{'id': 'resp_05ab7a0f197112fa00698746eafca08196a423b7c5e3eb334d', 'created_at': 1770473195.0, 'error': None, 'incomplete_details': None, 'instructions': None, 'metadata': {}, 'model': 'gpt-4o-2024-08-06', 'object': 'response', 'output': [{'id': 'msg_05ab7a0f197112fa00698746ebbb788196916ce5e098f146ca', 'content': [{'annotations': [], 'text': 'The correct spelling is "Asheville," and its IATA code is AVL.', 'type': 'output_text', 'logprobs': []}], 'role': 'assistant', 'status': 'completed', 'type': 'message'}], 'parallel_tool_calls': True, 'temperature': 1.0, 'tool_choice': 'auto', 'tools': [], 'top_p': 1.0, 'max_output_tokens': None, 'previous_response_id': None, 'reasoning': {'effort': None, 'generate_summary': None, 'summary': None}, 'service_tier': 'default', 'status': 'completed', 'text': {'format': {'type': 'text'}, 'verbosity': 'medium'}, 'truncation': 'disabled', 'usage': {'input_tokens': 31, 'input_tokens_details': {'cached_tokens': 0}, 'output_tokens': 18, 'output_tokens_details': {'reasoning_tokens': 0}, 'total_tokens': 49}, 'user': None, 'background': False, 'billing': {'payer': 'developer'}, 'completed_at': 1770473195, 'frequency_penalty': 0.0, 'max_tool_calls': None, 'presence_penalty': 0.0, 'prompt_cache_key': None, 'prompt_cache_retention': None, 'safety_identifier': None, 'store': True, 'top_logprobs': 0}

In [44]:
final_response["output"][0]["content"][0]["text"]

'The correct spelling is "Asheville," and its IATA code is AVL.'

In [45]:
!pip install airportsdata

Collecting airportsdata
  Downloading airportsdata-20260205-py3-none-any.whl.metadata (8.1 kB)
Downloading airportsdata-20260205-py3-none-any.whl (914 kB)
   ---------------------------------------- 0.0/914.0 kB ? eta -:--:--
   ---------------------------------------- 914.0/914.0 kB 6.9 MB/s eta 0:00:00
Installing collected packages: airportsdata
Successfully installed airportsdata-20260205

In [46]:
import airportsdata
icao_airports = airportsdata.load()

In [2]:
import pandas as pd

In [21]:
df_city = pd.read_csv(r"D:\Business\AI Intake & Response Assistant (AIRA)\App\Input\Airports_with_IATA.csv")

In [22]:
df_city.head()

  IATA                        Name           City Country
0  OCA     Ocean Reef Club Airport      Key Largo      US
1  CYT            Yakataga Airport       Yakataga      US
2  FWL            Farewell Airport       Farewell      US
3  CSE       Crested Butte Airpark  Crested Butte      US
4  CUS  Columbus Municipal Airport       Columbus      US

In [23]:
df_country = pd.read_excel(r"D:\Business\AI Intake & Response Assistant (AIRA)\App\Input\airports.xlsx", sheet_name="Country_Name")

In [24]:
df_country.head()

          Country Alpha-2 code Alpha-3 code  Numeric
0     Afghanistan           AF          AFG        4
1         Albania           AL          ALB        8
2         Algeria           DZ          DZA       12
3  American Samoa           AS          ASM       16
4         Andorra           AD          AND       20

In [26]:
df_final = pd.merge(left=df_city, right=df_country[["Country", "Alpha-2 code"]], how="left", left_on="Country", right_on="Alpha-2 code")

In [27]:
df_final.head()

,IATA,Name,City,Country_x,Country_y,Alpha-2 code
0,OCA,Ocean Reef Club Airport,Key Largo,US,United States of America (the),US
1,CYT,Yakataga Airport,Yakataga,US,United States of America (the),US
2,FWL,Farewell Airport,Farewell,US,United States of America (the),US
3,CSE,Crested Butte Airpark,Crested Butte,US,United States of America (the),US
4,CUS,Columbus Municipal Airport,Columbus,US,United States of America (the),US

In [28]:
df_final.isnull().sum()

IATA              0
Name              0
City            818
Country_x        23
Country_y         1
Alpha-2 code     24
dtype: int64

In [29]:
df_final.dropna(inplace=True)

In [30]:
df_final.isnull().sum()

IATA            0
Name            0
City            0
Country_x       0
Country_y       0
Alpha-2 code    0
dtype: int64

In [31]:
df_final.shape

(7025, 6)

In [32]:
df_final.to_csv("Airports_with_IATA.csv")

In [19]:
!pip install pdfplumber

Collecting pdfplumber
  Downloading pdfplumber-0.11.9-py3-none-any.whl.metadata (43 kB)
Collecting pdfminer.six==20251230 (from pdfplumber)
  Downloading pdfminer_six-20251230-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: Pillow>=9.1 in c:\users\dell\anaconda3\envs\venv_central\lib\site-packages (from pdfplumber) (11.2.1)
Requirement already satisfied: pypdfium2>=4.18.0 in c:\users\dell\anaconda3\envs\venv_central\lib\site-packages (from pdfplumber) (4.30.1)
Requirement already satisfied: charset-normalizer>=2.0.0 in c:\users\dell\anaconda3\envs\venv_central\lib\site-packages (from pdfminer.six==20251230->pdfplumber) (3.4.2)
Collecting cryptography>=36.0.0 (from pdfminer.six==20251230->pdfplumber)
  Downloading cryptography-46.0.4-cp311-abi3-win_amd64.whl.metadata (5.7 kB)
Collecting cffi>=2.0.0 (from cryptography>=36.0.0->pdfminer.six==20251230->pdfplumber)
  Using cached cffi-2.0.0-cp312-cp312-win_amd64.whl.metadata (2.6 kB)
Collecting pycparser (from cffi>=2.0.0->cryptography>=36.0.0->pdfminer.six==20251230->pdfplumber)
  Downloading pycparser-3.0-py3-none-any.whl.metadata (8.2 kB)
Downloading pdfplumber-0.11.9-py3-none-any.whl (60 kB)
Downloading pdfminer_six-20251230-py3-none-any.whl (6.6 MB)
   ---------------------------------------- 0.0/6.6 MB ? eta -:--:--
   --------------------------------- ------ 5.5/6.6 MB 27.9 MB/s eta 0:00:01
   ---------------------------------------- 6.6/6.6 MB 22.5 MB/s eta 0:00:00
Downloading cryptography-46.0.4-cp311-abi3-win_amd64.whl (3.5 MB)
   ---------------------------------------- 0.0/3.5 MB ? eta -:--:--
   ---------------------------------------- 3.5/3.5 MB 20.6 MB/s eta 0:00:00
Using cached cffi-2.0.0-cp312-cp312-win_amd64.whl (183 kB)
Downloading pycparser-3.0-py3-none-any.whl (48 kB)
Installing collected packages: pycparser, cffi, cryptography, pdfminer.six, pdfplumber

   -------- ------------------------------- 1/5 [cffi]
   ---------------- ----------------------- 2/5 [cryptography]
   ---------------- ----------------------- 2/5 [cryptography]
   ---------------- ----------------------- 2/5 [cryptography]
   ------------------------ --------------- 3/5 [pdfminer.six]
   ------------------------ --------------- 3/5 [pdfminer.six]
   ------------------------ --------------- 3/5 [pdfminer.six]
   -------------------------------- ------- 4/5 [pdfplumber]
   ---------------------------------------- 5/5 [pdfplumber]

Successfully installed cffi-2.0.0 cryptography-46.0.4 pdfminer.six-20251230 pdfplumber-0.11.9 pycparser-3.0

In [34]:
!pip install pycountry

Collecting pycountry
  Downloading pycountry-24.6.1-py3-none-any.whl.metadata (12 kB)
Downloading pycountry-24.6.1-py3-none-any.whl (6.3 MB)
   ---------------------------------------- 0.0/6.3 MB ? eta -:--:--
   ------------------------------- -------- 5.0/6.3 MB 30.2 MB/s eta 0:00:01
   ---------------------------------------- 6.3/6.3 MB 24.3 MB/s eta 0:00:00
Installing collected packages: pycountry
Successfully installed pycountry-24.6.1

In [35]:
import pandas as pd

# If pycountry isn't installed in your notebook environment, run:
# !pip install pycountry

import pycountry

def alpha2_to_official_name(alpha2: str) -> str:
    if pd.isna(alpha2):
        return ""
    code = str(alpha2).strip().upper()
    if not code:
        return ""

    c = pycountry.countries.get(alpha_2=code)
    if not c:
        return ""  # unknown code

    # Prefer official_name if present, else fall back to name
    return getattr(c, "official_name", None) or c.name


# ---- Update input/output paths ----
input_csv = r"D:\Business\AI Intake & Response Assistant (AIRA)\App\Notebooks\Airports_with_IATA.csv"
output_csv = "output_with_country.csv"

df = pd.read_csv(input_csv)

# Add new column
df["Official Country Name"] = df["Alpha-2 code"].apply(alpha2_to_official_name)

df.to_csv(output_csv, index=False)

print("Saved:", output_csv)
df.head()

Saved: output_with_country.csv

,IATA,Name,City,Country_y,Alpha-2 code,Official Country Name
0,OCA,Ocean Reef Club Airport,Key Largo,United States of America (the),US,United States of America
1,CYT,Yakataga Airport,Yakataga,United States of America (the),US,United States of America
2,FWL,Farewell Airport,Farewell,United States of America (the),US,United States of America
3,CSE,Crested Butte Airpark,Crested Butte,United States of America (the),US,United States of America
4,CUS,Columbus Municipal Airport,Columbus,United States of America (the),US,United States of America

In [36]:
!pip install rapidfuzz

Requirement already satisfied: rapidfuzz in c:\users\dell\anaconda3\envs\venv_central\lib\site-packages (3.13.0)

In [48]:
# !pip install rapidfuzz

import pandas as pd
from rapidfuzz import process, fuzz

# ---- Load CSV ----
df = pd.read_csv("output_with_country.csv")  

# ---- Only keep these columns in final output ----
KEEP_COLS = ["IATA", "Name", "City", "Official Country Name"]

# ---- Build search keys (City + Name helps) ----
df["_key"] = (
    df["City"].fillna("").astype(str).str.strip()
    + " | "
    + df["Name"].fillna("").astype(str).str.strip()
)

keys = df["_key"].tolist()

def search_city(query: str, top_n: int = 10) -> pd.DataFrame:
    q = str(query).strip()
    if not q:
        return pd.DataFrame(columns=["confidence_score"] + KEEP_COLS)

    matches = process.extract(
        q,
        keys,
        scorer=fuzz.WRatio,   # good for typos + partial
        limit=top_n
    )
    # matches: [(matched_text, score, index), ...]

    idx = [m[2] for m in matches]
    scores = [m[1] for m in matches]

    out = df.loc[idx, KEEP_COLS].copy()
    out.insert(0, "confidence_score", scores)

    # Ensure descending order by score
    out = out.sort_values("confidence_score", ascending=False).reset_index(drop=True)
    return out

# ---- Example ----
search_city("Java Island", top_n=10)

,confidence_score,IATA,Name,City,Official Country Name
0,90.0,YIA,Yogyakarta International Airport,"Yogyakarta, Java Island",Republic of Indonesia
1,90.0,MLG,Abdul Rachman Saleh Airport,"Malang, Java Island",Republic of Indonesia
2,90.0,CPF,Cepu Airport,"Tjepu, Java Island",Republic of Indonesia
3,90.0,JOG,Adi Sutjipto International Airport,"Yogyakarta, Java Island",Republic of Indonesia
4,90.0,SOC,Adi Sumarmo Wiryokusumo Airport,"Sukarata(Solo), Java Island",Republic of Indonesia
5,90.0,SRG,Achmad Yani Airport,"Semarang, Java Island",Republic of Indonesia
6,90.0,BDO,Husein Sastranegara International Airport,"Bandung, Java Island",Republic of Indonesia
7,90.0,CBN,Penggung Airport,"Cirebon, Java Island",Republic of Indonesia
8,90.0,TSY,Cibeureum Airport,"Tasikmalaya, Java Island",Republic of Indonesia
9,90.0,CXP,Tunggul Wulung Airport,"Cilacap, Java Island",Republic of Indonesia

In [43]:
def search_city_markdown(query: str, top_n: int = 10) -> str:
    out = search_city(query, top_n=top_n)  # uses the function from previous cell

    # drop confidence_score as you requested
    out = out.drop(columns=["confidence_score"], errors="ignore")

    # convert to markdown
    return out.to_markdown(index=False)

# Example
print(search_city_markdown("amsterdm", top_n=10))

| IATA   | Name                               | City          | Official Country Name                 |
|:-------|:-----------------------------------|:--------------|:--------------------------------------|
| AMS    | Amsterdam Airport Schiphol         | Amsterdam     | Kingdom of the Netherlands            |
| QSX    | New Amsterdam Airport              | New Amsterdam | Republic of Guyana                    |
| VVK    | Vastervik Airport                  | Vastervik     | Kingdom of Sweden                     |
| RMS    | Ramstein Air Base                  | Ramstein      | Federal Republic of Germany           |
| MRO    | Hood Airport                       | Masterton     | New Zealand                           |
| LFM    | Lamerd Airport                     | Lamerd        | Islamic Republic of Iran              |
| WJF    | General Wm J Fox Airfield          | Lancaster     | United States of America              |
| MRB    | Eastern Wv Regional/Shepherd Field | Martinsburg   | United States of America              |
| TDS    | Sasereme Airport                   | Sasereme      | Independent State of Papua New Guinea |
| HTR    | Hateruma Airport                   | Hateruma      | Japan                                 |

In [56]:
import pandas as pd
from rapidfuzz import process, fuzz
from typing import Sequence

def search_city_markdown(
    df: pd.DataFrame,
    query: str,
    top_n: int = 10,
    keep_cols: Sequence[str] = ("City", "Official Country Name"),
    search_cols: Sequence[str] = ("Official Country Name",),   # <-- search only by City by default
    sep: str = " | ",
) -> str:
    # --- validations ---
    missing_keep = [c for c in keep_cols if c not in df.columns]
    if missing_keep:
        raise ValueError(f"Missing required keep_cols in df: {missing_keep}")

    missing_search = [c for c in search_cols if c not in df.columns]
    if missing_search:
        raise ValueError(f"Missing required search_cols in df: {missing_search}")

    q = str(query).strip()
    if not q:
        return pd.DataFrame(columns=list(keep_cols)).to_markdown(index=False)

    n = int(top_n) if top_n is not None else 10
    if n <= 0:
        return pd.DataFrame(columns=list(keep_cols)).to_markdown(index=False)

    # --- build search keys---
    key_series = df[search_cols[0]].fillna("").astype(str).str.strip()
    for col in search_cols[1:]:
        key_series = key_series + sep + df[col].fillna("").astype(str).str.strip()
    keys = key_series.tolist()

    # --- fuzzy match ---
    matches = process.extract(q, keys, scorer=fuzz.WRatio, limit=n)  # [(text, score, idx), ...]
    if not matches:
        return pd.DataFrame(columns=list(keep_cols)).to_markdown(index=False)

    idx = [m[2] for m in matches]
    scores = [m[1] for m in matches]

    out = df.loc[idx, list(keep_cols)].copy()
    out.insert(0, "_score", scores)

    # sort by score desc, then drop score
    out = (
        out.sort_values("_score", ascending=False)
           .drop(columns=["_score"])
           .reset_index(drop=True)
    )

    return out.to_markdown(index=False)


# Example:
md = search_city_markdown(df, "India", top_n=10)
print(md)

| City       | Official Country Name   |
|:-----------|:------------------------|
| Diu        | Republic of India       |
| Ahmedabad  | Republic of India       |
| Aurangabad | Republic of India       |
| Mumbai     | Republic of India       |
| Bhuj       | Republic of India       |
| Vadodara   | Republic of India       |
| Bhopal     | Republic of India       |
| Bhavnagar  | Republic of India       |
| Hubli      | Republic of India       |
| Rajkot     | Republic of India       |

In [57]:
import pandas as pd
import tiktoken

# ---- Config ----
csv_path = "output_with_country.csv"
col_name = "Official Country Name"
model_name = "gpt-4o-mini"  # change if you want a different tokenizer

df = pd.read_csv(csv_path)

# distinct, cleaned values
distinct_vals = (
    df[col_name]
    .dropna()
    .astype(str)
    .map(str.strip)
)
distinct_vals = distinct_vals[distinct_vals != ""].drop_duplicates()

# combine with SPACE (instead of newline)
combined_text = " ".join(distinct_vals.tolist())

enc = tiktoken.encoding_for_model(model_name)
total_tokens = len(enc.encode(combined_text))

print("Distinct values:", len(distinct_vals))
print("Total tokens (combined distinct values):", total_tokens)

Distinct values: 231
Total tokens (combined distinct values): 815